# OS
.DS_Store
Thumbs.db
Icon?

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Source PDF (potentially copyrighted — no se sube)
*.pdf

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite / build
dist/
dist-ssr/
.vite/
*.local

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log

# Coverage
coverage/
*.lcov
